<!--  Warning  -->
<div class="mousemove-warning absolute-center"> Please take this moment to be still and reflect. </div>

<!--  Content  -->
<div class="fact-container">
	<p class="proverb last"><span class="japanese">命のあるところには、必ず希望がある。</span> <br/> While there is still life, there is still hope.</p>
	<p class="fact">“Be not defeated by the rain, nor let the wind prove your better.” –Kenji Miyazawa</p>
	<p class="proverb"><span class="japanese">生命はすべてのものの源泉である。</span> <br/> Life is the seed of all things.</p>
	<p class="fact">Over 100 foreign countries have offered aid.</p>
	<p class="proverb"><span class="japanese">悲劇を受けたとき、最も慰められるのは、自分が一人ではないと知ることだ。</span> <br/> After a tragedy, one of the most comforting feelings is to know you are not alone.</p>
	<p class="fact">In a matter of minutes, over 850,000 people were displaced from their homes.</p>
	<p class="proverb"><span class="japanese">七転び八起き </span> <br/> Fall seven times, stand up eight.</p>
	<p class="fact">The resulting tsunami moved towards the coast of Japan at 800KM per hour, driving the Pacific as far as 15KM inland.</p>
	<p class="proverb"><span class="japanese">逆境は希望によって救われる。忍耐は強い。</span> <br/> In adversity we are saved by hope. Perseverance is strength.</p>
	<p class="fact first">On March 11th, 2011, one of the largest earthquakes in recorded history occurred beneath the Pacific Ocean.</p>
	<p class="proverb"><span class="japanese">静かな精神は、世界をも制す。</span> <br/> To a mind that is still, the whole universe surrenders.</p>
</div>

<!--  Sun  -->

<div class="sun-container"> <%= image_tag('sun.png', :class => "sun animated", :alt => "The Sun.") %> </div>

<!--  Intro  -->

<div class="intro-copy absolute-center">
	<p>Still<span class="for">for</span>Japan is a place to donate minutes of stillness. People from around the world are being still in reverence of those affected by the catastrophic earthquake and tsunami in northeast Japan.</p>
	<p>Please donate your attention, thought, and stillness for the next sixty seconds.</p>
	<div class="begin-button"> - Begin - </div>
</div>

