<nav>
	<ul>
		<li><%= link_to("See The Commercial", "#video", :class => "left") %></li>
		<li class="center"><%= image_tag("still4japan_logo.png", :alt => "Still4Japan") %></li>
		<li><%= link_to("Learn About The Effort", "#about", :class => "right") %></li>
	</ul>
</nav>
