<div id="message">
	<div class="thanks">
		<h1>Thank you</h1>
		<h3>With your minute of stillness we have collected <span class="total for"></span> minutes for Japan.</h3>
	</div>
	<div class="more">
		<p class="more">Please encourage others to donate and join us in delivering our message to the people of Japan, the land of the rising sun, that “The world awaits your sunrise.”</p>
	</div>
	<div class="clearfix"></div>
</div>